.app-header .top{
    padding: 10px 0;
    border-radius: 12px 12px 0px 0px;
}

.app-header .top .left{
    float: left;
    padding-top: 5px;
}

.app-header .top .left i{
    color: #15c09e;
    padding-right: 7px;
}

.app-header .top h2{
    font-size: 20px;
    font-weight: bold;
}

.app-header .top .center{
    font-size: 20px;
    font-weight: bold;
}

.app-header .top .right{
    justify-content: flex-end;
}

.app-header .right .icon i{
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
}

/* scroll */
.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}
  
.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
  
.scrollmenu a:hover {
    background-color: #777;
}


/* menu desktop and mobile switching on responsive  */
@media only screen and (max-width: 768px) {
    .app-header .top .center {
        padding: 7% 0;
        overflow: auto;
        white-space: nowrap;
    }

    .app-header .top button{
        display: inline-block;
        text-align: center;
        padding: 13px;
        text-decoration: none;
    }
}

@media only screen and (max-width: 600px) {

    .app-header .top {
        padding: 5% 3%;
    }

    

    .app-header .top .right{
        padding-top: 5%;
    }

    .form-control{
        width: 100%;
    }
}