.side{
    position: fixed;
    padding: 1% 0px;
    right: -100%;
    background-color: white;
    width: 40%;
    height: 100vh;
    z-index: 1;
    bottom: 0;
    transition: 0.5s;
    box-shadow: 3px 3px 10px #a7a7a7;
}

.side.open{
    right: 0;
}

.side .profile img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
}

.side .heading {
   float: left;
}

.side .heading h2{
    font-weight: bold;
    font-size: 17px;
}

.side .heading h6{
    color: #007bff;
    font-weight: bold;
    font-size: 16px;
}

.side .heading p{
    color: #8e8e8e;
    font-size: 14px;
}

.side .bar-section{
    border-bottom: 2px solid #cecece;
}

.side .bar-section a{
    display: block;
    text-align: center;
    border-bottom: 4px solid transparent;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.side .bar-section a:hover{
    border-bottom: 4px solid #007bff;
    transition: 0.5s;
    
}

.side .bar-section a:hover{
    border-bottom: 4px solid #007bff;
    transition: 0.5s;
    
}

.side .form .input{
    position: relative;
}

.side .form .input i{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #007bff;
}

.side .form label{
    margin-bottom: 0;
    float: left;
    font-weight: bold;
    font-size: 11px;
    color: #007bff;
}

.side .form .input input
{
    background-color: #f1f1f1;
    color: var(--color-black);
    border-radius: 5px;
    padding: 8px 0 8px 35px;
    border: 1px solid #c3c3c3;
    width: 100%;
    height: auto;
    font-size: 14px;
}

.side .form .input input::placeholder
{
    color: rgb(155, 155, 155);
}

.side .form .input a{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #007bff;
    font-size: 14px;
}

.side .form .name
{
    position: relative;
}

.side .form .name input
{
    background-color: #ffffff;
    color: var(--color-black);
    border-radius: 5px;
    padding: 8px 0 8px 10px;
    border: 1px solid #b4b4b4;
    width: 100%;
    height: auto;
    font-size: 14px;
}

.side .form .name input::placeholder
{
    color: rgb(155, 155, 155);
}

.side .form .name a{
    position: absolute;
    top: 40px;
    font-weight: 900;
    right: 10px;
    color: #007bff;
    font-size: 18px
}

.side .form .label span{
    background-color: #247fde;
    color: white;
    padding: 0px 0px;
    border-radius: 30px;
    width: 20px;
    height: 20px;
    font-weight: bold;
    font-size: 15px;
}

.side .form .label p{
    font-size: 13px;
    color: gray;
    padding-top: 3px;
}

.metting-needs{
    text-align: left;
}

.metting-needs h6{
    font-weight: bold;
    font-size: 15px;
    padding-top: 10px;
}

.metting-needs p{
    color: #969595;
    font-size: 13px;
}

.metting-needs .form-group{
    margin-bottom: 0;
}

.metting-needs .form-check-label {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 13px;
}

.form-customer .input{
    position: relative;
}

.form-customer .input i{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #007bff;
}

.form-customer .input input
{
    background-color: #f1f1f1;
    color: var(--color-black);
    border-radius: 5px;
    padding: 8px 0 8px 35px;
    border: 1px solid #c3c3c3;
    width: 100%;
    height: auto;
    font-size: 14px;
}

.form-customer .input input::placeholder
{
    color: rgb(155, 155, 155);
}

.form-customer .input a{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #007bff;
    font-size: 14px;
}

.form-customer .name
{
    position: relative;
}

.form-customer .name label{
    margin-bottom: 0;
    float: left;
    font-weight: bold;
    font-size: 11px;
    color: #007bff;
}

.form-customer .name input
{
    background-color: #ffffff;
    color: var(--color-black);
    border-radius: 5px;
    padding: 8px 0 8px 10px;
    border: 1px solid #b4b4b4;
    width: 100%;
    height: auto;
    font-size: 14px;
}

.form-customer .name input::placeholder
{
    color: rgb(155, 155, 155);
}

.form-customer .name a{
    position: absolute;
    top: 38px;
    font-weight: 900;
    right: 10px;
    color: #007bff;
    font-size: 20px;
}

.customer-button{
    margin-top: 20%;
}

.payments-button{
    margin-top: 50%;
}


/* menu desktop and mobile switching on responsive  */
@media only screen and (max-width: 768px) {
    .side{
        padding: 5% 0px;
        width: 55%;
        height: 93vh;
    }
}

@media only screen and (max-width: 600px) {

    .side{
        top: 80px;
        padding: 5% 0px;
    }

    .side.open{
        right: 0;
        width: 97%;
    }

    .side .heading{
        float: unset;
        padding-top: 3%;
    }

    .metting-needs h6{
        font-weight: bold;
        font-size: 15px;
        padding-top: 10px;
    }
}

