.booking{
    text-align: center;
}

.booking .main{
    padding: 20% 0;
    justify-content: center;
}

.booking .main .calendar-color{
    font-size: 100px;
    color: var(--color-gry);
}

.booking .main h4{
    font-size: 17px;
    font-weight: bold;
}

.booking .main p{
    font-size: 13px;
    color: #9c9c9c;
    padding: 0px 12%;
}

.booking .main .buttons button i{
    font-size: 13px;
    padding-right: 10px;
    color: #009999;
}
