/* .side{
    position: fixed;
    padding: 1% 0px;
    right: -100%;
    background-color: white;
    width: 40%;
    height: 100vh;
    z-index: 1;
    bottom: 0;
    transition: 0.5s;
    box-shadow: 3px 3px 10px #a7a7a7;
}

.side.open{
    right: 0;
} */

.customer-form h4
{
    font-size: 17px;
    font-weight: bold;
}

.customer-form .name
{
    position: relative;
}

.customer-form .name label
{
    margin-bottom: 0;
    float: left;
    font-weight: bold;
    font-size: 11px;
    color: #007bff;
}

.customer-form .name input
{
    background-color: #ffffff;
    color: var(--color-black);
    border-radius: 5px;
    padding: 8px 0 8px 10px;
    border: 1px solid #b4b4b4;
    width: 100%;
    height: auto;
    font-size: 12px;
}

.customer-form .name input::placeholder
{
    color: rgb(155, 155, 155);
}

.customer-form .name a{
    position: absolute;
    bottom: 5px;
    font-weight: 900;
    right: 10px;
    color: #007bff;
    font-size: 18px
}

.customer-form.form-group {
    margin-bottom: 0;
}

.customer-form .form-check-label{
    font-size: 13px;
    font-weight: bold;
}

.customer-form .buttons{
    margin-top: 25%;
}




/* menu desktop and mobile switching on responsive  */
@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 600px) {

    
}