.upcoming .bar{
    background-color: #32373d;
    padding: 8px 0;
}

.upcoming .bar h5{
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.upcoming .main{
    /* padding: 15px 0; */
}

.upcoming .main .booking-details{
    padding: 14px 0;
}

.upcoming .main .booking-details img{
    width: 70%;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
}

.upcoming .main .booking-details h6{
    font-size: 16px;
    font-weight: bold;
}


.upcoming .main .booking-details a{
    font-size: 12px;
    font-weight: bold;
}

.upcoming .main .buttons{
    float: right;
    padding: 14px 0;
    visibility: hidden;
}

.main:hover .buttons{
    visibility: visible;
}

.upcoming .main .buttons a{
    color: #f92a2a;
    font-size: 14px;
    padding: 7px 10px 0px 0;
}

.upcoming .main .date-time{
    float: right;
    width: 100%;
}

.upcoming .date-time .blue{
    background-color: #247fde;
}

.upcoming .date-time .blue span{
    color: var(--color-white);
    font-weight: bold;
    font-size: 15px;
}

.upcoming .date-time .blue p{
    color: var(--color-white);
    font-size: 15px;
}