.completed{
    text-align: center;
    box-shadow: 5px 5px 20px 5px #e8e8e8;
    border-radius: 15px;
    border: 1px solid #e8e8e8;
}

.completed .top{
    border: 1px solid #efefef;
    padding: 10px 0;
    border-radius: 12px 12px 0px 0px;
}

.completed .top .left{
    float: left;
    padding-top: 5px;
}

.completed .top .left i{
    color: #15c09e;
    padding-right: 7px;
}

.completed .top h2{
    font-size: 20px;
    font-weight: bold;
}

.completed .top .center{
    display: block;
    margin: auto;
}

.completed .top .center span{
    padding: 1px 3px;
    border-radius: 10px;
    font-size: 12px;
    background-color: white;
    color: black;
    font-weight: bold;
}

.completed .top .right{
    justify-content: flex-end;
}

.completed .right .icon i{
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
}

.completed .bar{
    background-color: #32373d;
    padding: 8px 0;
}

.completed .bar h5{
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.completed .main{
    /* padding: 15px 0; */
}

.completed .main .booking-details{
    padding: 14px 0;
}

.completed .main .booking-details img{
    width: 70%;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
}

.completed .main .booking-details h6{
    font-size: 16px;
    font-weight: bold;
}


.completed .main .booking-details a{
    font-size: 12px;
    font-weight: bold;
}

.completed .main .buttons{
    float: right;
    padding: 14px 0;
    visibility: hidden;
}

.main:hover .buttons{
    visibility: visible;
}

.completed .main .buttons a{
    color: #f92a2a;
    font-size: 14px;
    padding: 7px 10px 0px 0;
}

.completed .main .date-time{
    float: right;
    width: 100%;
}

.completed .date-time .grey{
    background-color: #e5e5e5;
}

.completed .date-time .grey span{
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.completed .date-time .grey p{
    color: #a0a0a0;
    font-size: 15px;
}