.list .bar{
    background-color: #32373d;
    padding: 8px 0;
}

.list .bar h5{
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.list .main{
    /* padding: 15px 0; */
}

.list .main .booking-details{
    padding: 14px 0;
}

.list .main .booking-details img{
    width: 70%;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
}

.list .main .booking-details h6{
    font-size: 16px;
    font-weight: bold;
}


.list .main .booking-details a{
    font-size: 12px;
    font-weight: bold;
}

.list .main .buttons{
    float: right;
    padding: 14px 0;
    visibility: hidden;
}

.main:hover .buttons{
    visibility: visible;
}

.list .main .buttons a{
    color: #f92a2a;
    font-size: 14px;
    padding: 7px 10px 0px 0;
}

.list .main .date-time{
    float: right;
    width: 100%;
}

.list .date-time .grey{
    background-color: #e6e6e6;
}

.list .date-time .grey span{
    color: #ff2626;
    font-weight: bold;
    font-size: 15px;
}

.list .date-time .grey p{
    color: gray;
    font-size: 15px;
}

.list .date-time .orange{
    background-color: #fdebb9;
}

.list .date-time .orange span{
    font-weight: bold;
    font-size: 15px;
}

.list .date-time .orange p{
    color: gray;
    font-size: 15px;
}


